body {
  margin: 0;
  font-family: verdana;
}

@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
  body {
    font-size: 1.2rem;
  }
}

ul {
  list-style-type: none;
  padding: 0;
}

.service-list {
  padding-top: 50px;
  z-index: 1000;
  overflow-y: scroll;
  height: 575px;
  -webkit-overflow-scrolling: touch;
}

.full-list {
  margin-top: 0;
}

.month-header {
  padding:10px;
  margin: 1px;
  text-align: center;
  font-weight: bold;
}

.day-header {
  padding: 10px;
  margin: 0;
  text-align: left;
  z-index: 2000;
}

.day-service-li {
  text-align: left;
  background-color: #ddd;
  max-height: 0;
  opacity: 0;
  transition: all 0.25s ease-in-out;
  padding: 0;
  margin: 0;
  z-index: 1020;
}

.day-list {
  visibility: hidden;
  max-height: 0;
  opacity: 0;
  z-index: 1050;
  transition: visibility 0s, max-height 0.3s ease-in-out, opacity 0.3s ease-in-out;
  transition-delay: 0.1s;
}

.show-days > .day-list {
  visibility: visible;
  transition: visibility 0s, max-height 0.3s ease-in-out, opacity 0.3s ease-in-out;
  transition-delay: 0.1s;
  max-height: 600px;
  opacity: 1;
}

.show-days > .day-list > .day-service-li {
  max-height: 100px;
  opacity: 1;
  transition: max-height 0.3s ease-in-out, opacity 0.3s ease-in-out;
  padding: 10px;
  margin: 1px;
}

.header-wrap {
  position: fixed;
  top: 0px;
  left: 0;
  width: 100%;
  height: 50px;
  background-color: #555;
  border-bottom: 1px solid black;
  color: antiquewhite;
  font-size: 14pt;
  text-align: center;
  z-index: 4000;
}

/*#app-header h2 {*/
.header-wrap h2 {
  width: 75%;
  margin: 10px auto 0 auto;
  text-align: center;
}

.left-header {
  position: absolute;
  left: 0;
  top: 0;
  height: 30px;
  width: 30px;
  font-size: 20pt;
  padding: 8px 10px;
}

.settings-panel {
  position: fixed;
  top: 51px;
  left: 0;
  width: 80%;
  margin-left:  -85%;
  height: calc(100% - 51px);
  background-color: #777;
  color: white;
  /* padding-left: 10px */
  font-size: 16pt;
  transition: margin-left 0.5s;
  z-index: 3000;
}

.visible-panel {
  margin-left:  0;
  transition: margin-left 0.5s;
}

.setting-item {
  min-height: 35px;
}

.setting-item i {
  position: absolute;
  left: 15px;
}

.setting-item span {
  position: absolute;
  left: 40px;
}

.setting-break {
  border-bottom: 1px solid #ddd;
  margin-bottom: 10px;
}

.service {
  position: fixed;
  top: 51px;
  left: 0;
  width: 100%;
  margin-left: 105%;
  height: calc(100% - 51px);
  background-color: #f5f5f5;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
  transition: margin-left 0.5s;
}

.show-service {
  margin-left: 0;
  transition: margin-left 0.5s;
}

.leftCell > p, .rightCell > p {
  margin: 8px 5px;
}

.media-group {
  display: none;
}

p {
	color: black;   /* night mode #FBF0D9 */
    text-align: left;
    padding-left: -50px;
    margin-bottom: 0em; /* to control spacing after para */
}
p.actor {
    text-align:left;
    font-size:80%;
    color:red;
    font-weight:bold;
    text-indent: 0px;
    margin-top: 5px;
    margin-bottom: 0px;
}
p.actor:first-letter {
    text-align:left;
    font-size:125%;
}

p.alttext {
	font-size:80%;
	background-color:#CCCCCC;
	margin-left:2em;
}
p[class^="bmc_"], p[class^="emc_"] {
  display: none;
}
p.break {
    margin-bottom: 10px;
}
p.chant {
    text-align:left;
    text-indent: 0px;
    line-height:150%;
    margin-bottom: 10px;
}
p.chant:first-letter {
    color:red;
    font-size:180%;
    font-weight:normal;
}
p.chapverse {
    font-weight:normal;
    font-style:italic;
    text-indent: 0px;
    text-align:center;
    color:red;
    font-size: 80%;
    margin-top: 0px;
    margin-bottom: 0px;
}
title {
    text-align:center;
    font-size:95%;
  	margin-top: 6px;
  	margin-bottom: 0px;
}

p.mixed {
  text-align:center;
}

p.designation {
	text-align:center;
    font-style:normal;
	font-weight: bold;
    color: red;
}
p.dialogzero {
    text-align:left;
    text-indent: 28px;
    font-size:95%;
    line-height:130%;
    margin-bottom: 0px;
}
p.dialog {
    text-align:left;
    text-indent: 28px;
    font-size:95%;
    line-height:130%;
    margin-bottom: 5px;
}
p.heirmos {
    text-align:left;
    text-indent: 0px;
    line-height:150%;
    margin-bottom: 10px;
}
p.heirmos:first-letter {
    color:red;
    font-size:180%;
    font-weight:normal;
}
p.hymn {
    text-align:left;
    text-indent: 0px;
    line-height:150%;
    margin-bottom: 10px;
}

p.hymn:first-child:first-letter {
  font-size: 1.5rem;
  font-weight: bold;
  color: red;
}
p.hymnlinefirst {
    text-align:left;
    text-indent: 0px;
    line-height:150%;
    margin-bottom: 0;
}
p.hymnlinefirst:first-letter {
    color:red;
    font-size:180%;
    font-weight:normal;
}
p.hymnlinemiddle {
    text-align:left;
    text-indent: 0px;
    line-height:150%;
    margin-top: 0;
    margin-bottom: 0;
}
p.hymnlinelast {
    text-align:left;
    text-indent: 0px;
    line-height:150%;
    margin-top: 0;
    margin-bottom: 10px;
}
p.inaudible {
    text-indent: 28px;
	font-size:80%;
    text-align:left;
    line-height:150%;
}
p.melody {
	text-align:center;
    font-weight:normal;
    font-style:italic;
    color:red;
}

p.mode {
	text-align:center;
    font-style:normal;
	font-weight: bold;
    color: red;
}

p.name {
    font-weight:normal;
    font-style:italic;
    text-align:center;
    color:red;
    font-size: 80%;
    margin-top: 3px;
    margin-bottom: 3px;
}

p.prayerzero {
    text-align:left;
    text-indent: 28px;
    line-height:150%;
    margin-bottom: 0px;
}
p.prayer {
    text-align:left;
    text-indent: 28px;
    line-height:150%;
    margin-bottom: 6px;
}
p.readingzero {
    text-align:left;
    text-indent: 28px;
    line-height:150%;
    margin-bottom: 0px;
}
p.reading {
    text-align:left;
    text-indent: 28px;
    line-height:150%;
    margin-bottom: 6px;
}
p.readingcenterzero {
    text-align:center;
	font-size:100%;
    line-height:150%;
    margin-bottom: 0px;
}
p.readingcenter {
    text-align:center;
	font-size:100%;
    line-height:150%;
    margin-bottom: 6px;
}
p.rubric {
    color:red;
    font-size:80%;
    font-style:italic;
    text-align:left;
    text-indent: 28px;
}

p.source {
    margin-top: 6px;
	font-weight:normal;
    font-style:normal;
    font-size:70%;
    color:gray;
    text-align:left;
}
p.source0 {
    margin-top: 0px;
	font-weight:normal;
    font-style:normal;
    font-size:70%;
    color:gray;
    text-align:left;
    height:0;
    position:relative;
    top:-3em;
}
p.source1 {
    margin-top: 0px;
	font-weight:normal;
    font-style:normal;
    font-size:70%;
    color:gray;
    text-align:left;
    height:0;
    position:relative;
    top:-6em;
}
p.titlezero {
	text-align:center;
	font-style:normal;
    font-weight:bolder;
    color:red;
    font-size:80%;
  	margin-top: -7px;
  	margin-bottom: 0px;
}
p.verse {
    text-align:left;
    text-indent: 28px;
    font-style:italic;
    font-size:100%;
    line-height:150%;
    margin-bottom: 3px;
}
p.versecenter {
    text-align:center;
    font-style:italic;
    font-size:90%;
    line-height:100%;
    margin-bottom: 3px;
}

span.anum {
	color: red;
    font-size:80%;
}

span.melody {
	font-style:italic;
	color:red;	
	white-space: nowrap;
}

span.mode {
	font-style:normal;
	font-weight:bolder;
	color:red;
	white-space: nowrap;
}

span.designation {
	font-style:normal;
	font-weight:bolder;
	color:red;
	white-space: nowrap;
}

span.reference{
	font-variant:normal;
	font-weight:normal;
	font-style:italic;
	font-size:70%;
	color:red;	
}
span.rubric{
	font-variant:normal;
	font-weight:normal;
	font-style:italic;
	font-size:80%;
	color:red;	
}
span.italics {
	font-style:italic;
}
span.strong {
	font-weight:bold;
}
span.bigblack {
	font-weight:normal;
	font-style:normal;
	font-size:150%;
	display:inline-block;
	line-height:150%;
	color:black;
}
span.black {
	font-style:normal;
	color:black;
}

span.bold {
	font-weight:bold;
	font-style:inherit;
}
span.bolditalics {
	font-weight:bold;
	font-style:italic;
}
span.red {
	font-style:inherit;
	color:red;
}

span.boldred {
	font-weight:bold;
	color:red;
	font-style:inherit;
}

span.italicsblack {
	font-style:italic;
	color:black;
}
span.italicsred {
	font-style:italic;
	color:red;
}

span.bolditalicsred {
	font-weight:bold;
	font-style:italic;
	color:red;
}

span.numright {
	font-style:inherit;
	float: right;
	color:red;
}

.versiondesignation {
	font-style:normal;
	font-weight:lighter;
	font-size: 0.5rem;
	vertical-align:middle;
	color:gray;
	float: right;
}

.italics {
  font-style: italic;
}


/*.user-name {
  font-size: 14pt;
}

.user-name::before {
  font: normal normal normal 16px/1 FontAwesome;
  content: "\f007";
}

.book-item::before {
  font: normal normal normal 16px/1 FontAwesome;
  content: "\f02d";
}*/